server:
  port: 8083

spring:
  application:
    name: delivery-service
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    com.pizza.delivery: INFO
    org.springframework.amqp: DEBUG
